.spacex-dragons-container {
    padding: 5px;
    color: #fff;
    margin-top: 4rem;
  }
  
  .spacex-dragons-list {
    background-color: #343435;
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
  }
  